<h1>Welcome to flight-booker.com, <%= @passenger.name %></h1>

<p>
  You have successfully booked a seat on Flight <%= @flight.id %> from <%= @flight.departure_airport.code %> to <%= @flight.arrival_airport.code %>, leaving on <%= @flight.departure_time.strftime('%d/%m/%Y %I:%M%P') %>.
</p>

<p>
  To view your booking details, just follow this link: <a href=<%= @booking_url %>>View your booking</a>
</p>

<p>Thanks for booking a flight with us!</p>
