<h1>Search for Flights!</h1>

<%= simple_form_for :search, url: flights_path, method: 'GET' do |f| %>
  <%= f.input :departure_airport, label: 'Leaving from:', collection: Airport.all.pluck(:code, :id), required: false %>
  <%= f.input :arrival_airport, label: 'Arriving at:', collection: Airport.all.pluck(:code, :id), required: false %>
  <%= f.input :departure_time, label: 'Departure time:', collection: Flight.all.map { |f| [f.departure_time.strftime('%d/%m/%Y'), f.departure_time] }, required: false %>
  <%= f.input :passenger_count, label: 'Number of passengers:', collection: 1..4, required: false %>
  <%= f.submit 'Find Flights' %>
<% end %>

<% unless @flights.empty? %>
  <h1>Book a Flight!</h1>

  <%= simple_form_for :book_flight do |f| %>
    <%= f.input :selected_flight, label: false, as: :radio_buttons, collection: @flights %>
    <%= f.submit 'Book Flight' %>
  <% end %>
<% end %>
