<h1>Book Flight</h1>

<h2>Selected Flight Details</h2>
<h3>Flight ID: <%= @flight.id %></h3>
<h3>Leaving From: <%= @flight.departure_airport.code %></h3>
<h3>Arriving At: <%= @flight.arrival_airport.code %></h3>
<h3>Departure Time: <%= @flight.departure_time.strftime('%d/%m/%Y %I:%M%P') %></h3>

<%= simple_form_for @booking do |f| %>
  <%= f.hidden_field :flight_id, value: params[:book_flight][:selected_flight_id] %>
  <%= f.fields_for :passengers do |p| %>
    <h4>Passenger Details</h4>
    <%= p.input :name, label: 'Passenger Name:' %>
    <%= p.input :email, label: 'Passenger Email:' %>
  <% end %>
  <%= f.submit 'Create Booking(s)' %>
<% end %>

